.Navbar {
    text-align: center;
    width: 100%;
  }

.Navbar_header {
    background-color: #222831;
    height: 55px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.Navbar_text {
    color: #00adb5;
    font-size: medium;
    align-self: center;
    margin-left: 10px;
    margin-right: 5px;
}
