.Navbar {
    text-align: center;
    width: 100%;
  }

.Navbar_header {
    background-color: #222831;
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.Navbar_text {
    color: #00adb5;
    font-size: medium;
    align-self: center;
    margin-left: 10px;
}

.Navbar_search {
    background-color: #222831;
    width: 300px;
    margin-left: 10px;
    border: 'solid 1px';
    border-color: #00adb5 ;
    color: #00adb5;
    margin-top: 10px;
}
